body {
  margin: 0;
  font-size: 16px;
}

.container {
  overflow: auto;
  width: 80%;
  height: 100vh;
  margin: auto;
  border: solid 2px;
}

.userName {
  color: #707070;
  text-align: center;
  padding-top: 4rem;
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 18px;
}

.profilePicture {
  margin: auto;
  margin-top: 4rem;
  height: 8rem;
  width: 8rem;
  background-image: url('userPhoto.jpeg');
  background-size: cover;
  border-radius: 50%;
}

.description {
  color: #5c5b5b;
  margin-top: 80px;
  width: 100%;
  border: solid 2px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
  font-size: 15px;
  font-family: 'Helvetica Neue';
  font-weight: 500;
}
